<h1>Cheese Plate</h1>
<h3>Keeping track of the world's cheeses</h3>

<a href="/cheeses/new">Add a cheese to the plate</a>

<ul>
  <% @cheeses.each do |cheese| %>
    <li><a href="/cheeses/<%= cheese.id %>"><%= cheese.name %></a></li>
  <% end %>
</ul>
